<style>
    .footer {
        display: flex;
        background-color: black;
        justify-content: center;
    }
    .f1,.f2{
        width:30%;
        color:white;
        margin-top: 10px;
    }
    .f3{
        display:flex;
        width:100%;
        color:white;
        background-color: black;
        justify-content:center;
       
        bottom: 0px;
    }
    .f3 p{
        margin:10px;
  
    }
 .f3 a{
    
  margin-left: 30px;
  height:40px;
 }

 .f3 a .fa-brands.fa-square-youtube, .fa-brands.fa-square-facebook,.fa-brands.fa-instagram,.fa-brands.fa-twitter{
color:white;
 }

 .fa-brands.fa-square-youtube:hover, .fa-brands.fa-square-facebook:hover,.fa-brands.fa-instagram:hover,.fa-brands.fa-twitter:hover{
color:orange;
 }
.con{ 
    color:orange;
}
.C1{
    margin-top:10px;
    color:orange;
    font-size: 2rem;
}
.f1{
    
    margin-right: 20px;
}
.f2{
    margin-left: 20px;
}
.copyright{
    margin-top: 0;
    color:white;
    background-color: black;
    text-align: center;
    font-weight: 100;
    margin-bottom: 0;
}
  
</style>
<div class="f3">
    <h2 class="C1">CONNECT WITH US HERE...</h2>
<p>
    <a href=""><i class="fa-brands fa-square-youtube fa-2x"></i></a>
    <a href=""><i class="fa-brands fa-square-facebook fa-2x"></i></a>
    <a href=""><i class="fa-brands fa-instagram fa-2x"></i></a>
    <a href=""><i class="fa-brands fa-twitter fa-2x"></i></a>
</p>
</div>
<div class="footer">
    <div class="f1">
        <h2 class="con">Mumbai</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel atque temporibus exercitationem ipsa eligendi qui
        tempora quaerat, dicta at facilis, deserunt amet autem doloremque illo nesciunt porro dignissimos molestias?
        Fugiat molestiae sapiente totam nam?
    </div>
    <div class="f2">
        <h2 class="con">Panvel</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus molestiae maiores, esse aliquam molestias
        delectus veniam quod dolores adipisci neque veritatis error deserunt, corporis fuga corrupti modi ipsum
        quibusdam quia. Ad quas omnis aliquid.
    </div>
</div>
<p class="copyright">copyright@DanceBeat</p>